* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #e3e6e6;
}
.layout {
	display: grid;
	max-width: 700px;
	margin: 0 auto;
	row-gap: 20px;
	padding: 40px;
	position: relative;
}
body .list_completed {
	cursor: initial;
	background: #f1f3f3;
}
.list_completed .icon_completed svg,
.icon_completed:hover svg {
	fill: green;
}
body .list_completed p {
	text-decoration: line-through;
	opacity: 0.5;
}
.cursor_pointer {
	cursor: pointer;
}
.icon_delete:hover svg {
	fill: red;
}
#modal:has(div) {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000000a3;
	display: grid;
	align-content: flex-end;
	justify-content: center;
}
.completedTodos {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
