* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #e3e6e6;
}
.layout {
	display: grid;
	max-width: 700px;
	margin: 0 auto;
	row-gap: 20px;
	padding: 40px;
}
body .list_completed {
	cursor: initial;
	background: #f1f3f3;
}
.list_completed .icon_completed svg,
.icon_completed:hover svg {
	fill: green;
}
body .list_completed p {
	text-decoration: line-through;
	opacity: 0.5;
}
.cursor_pointer {
	cursor: pointer;
}
.icon_delete:hover svg {
	fill: red;
}
